In [23]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

In [24]:
df=pd.read_csv('dataset/preprocessed_dataset.csv')
df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
6361,Kelly Fremon Craig,Rachel McAdams,Abby Ryder Fortson,Benny Safdie,Drama Comedy,"are you there god? it's me, margaret",Rachel McAdams Abby Ryder Fortson Benny Safdie...
6362,Josh Gordon & Will Speck,Anthony Ramos,Naomi Scott,Zachary Quinto,Science Fiction Comedy Romance,distant,Anthony Ramos Naomi Scott Zachary Quinto Josh ...
6363,Olivia Wilde,Florence Pugh,Harry Styles,Olivia Wilde,Drama Mystery Thriller,don't worry darling,Florence Pugh Harry Styles Olivia Wilde Olivia...
6364,Nicholas Stoller,Billy Eichner,Luke Macfarlane,Ts Madison,Adventure Comedy Family Science Fiction,bros,Billy Eichner Luke Macfarlane Ts Madison Nicho...
6365,NaN,NaN,NaN,NaN,Comedy,NaN,NaN

In [25]:
for i, genre in enumerate(df['genres']): # genres has a few attributes so we have to splite each genre
    df['genres'][i] = str(genre).split()

In [26]:
from sklearn.feature_extraction.text import CountVectorizer

In [38]:
for i in range(len(df['movie_title'])):
    if df['movie_title'][i] == 'iron man':
        index = i
print(index)

69

In [39]:
cv = CountVectorizer()
vectors = cv.fit_transform(df['comb'].astype('U'))
target = vectors[69]

In [40]:
# Cosine Similarity

result = cosine_similarity(vectors,target)

similarities = [0] * len(result)
for i in range(len(result)):
    similarities[i] = result[i][0]

In [41]:
# sorted_similarities = sorted(similarities, key = float, reverse=True)
max = 0
top_20_similarities = [0] * 21
indexes_of_top_20 = [0] * 21
for i in range(21):
    for j in range(len(similarities)):
        if similarities[max] < similarities[j]:
            max = j
    indexes_of_top_20[i] = max
    top_20_similarities[i] = similarities[max]
    similarities[max] = 0.0
print(indexes_of_top_20)
print(top_20_similarities)

[69, 80, 32, 445, 682, 3767, 8, 17, 27, 794, 40, 2499, 168, 425, 453, 366, 79, 412, 1805, 2991, 1410]
[1.0, 0.8823529411764706, 0.7399400733959438, 0.5185629788417315, 0.5009794328681195, 0.48507125007266594, 0.47087095579741867, 0.47087095579741867, 0.47087095579741867, 0.47087095579741867, 0.42008402520840293, 0.42008402520840293, 0.40360367639778744, 0.40360367639778744, 0.36563621206356534, 0.36380343755449945, 0.35007002100700246, 0.35007002100700246, 0.35007002100700246, 0.35007002100700246, 0.34299717028501764]

In [42]:
# retrieving movie title for top_20
top_20_movie_titles = ['NA'] * 20

for i in range(20):
    top_20_movie_titles[i] = df['movie_title'][indexes_of_top_20[i+1]] # first index is the same movie
       
print(top_20_movie_titles)

['iron man 2', 'iron man 3', 'deep impact', 'zathura: a space adventure', 'made', 'avengers: age of ultron', 'the avengers', 'captain america: civil war', 'the avengers', 'tron: legacy', 'tron: legacy', 'g.i. joe: retaliation', 'the core', 'four christmases', 'sherlock holmes', 'the jungle book', 'open season', 'the jungle book', 'charlie bartlett', 'identity thief']